.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 18px;

  height: 25px;
  z-index: 1;
}
.nav__showblack {
  transition: all 1s ease-in;
  background-color: #111;
  opacity: 0.95;
}

.nav__logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}

.nav__avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}
